body{
    background-color: black;
    color: aliceblue;
}
/* .main{
    height: 100vh;
    width: 100vw;
    background-color: black;
} */
.logo{
    height: 60px;
    width: 60px;
    /* margin-top: 35px; */
    margin-left: 70px;
    
}

.logo-left{
    position: relative;
    /* bottom: 60px; */
    width: 300px;
    display: inline-block;
    right: 1087px;
    top: 20px;

}
.logo-para{
    display: inline-block;
    position: relative;
    bottom: 23px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
.logo-para:hover{
    color: #865DFF;
    cursor: pointer;
}
.visa-card{
    position: relative;
    left: 1042px;
    bottom: 406px;
    left: 976px;
    bottom: 585px;
}

.btn {
border: 0;
line-height: 2.5;
padding: 0 20px;
font-size: 1rem;
text-align: center;
color: #fff;
text-shadow: 1px 1px 1px white;
border-radius: 10px;
background-color: #000;
background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
position: relative;
/* left: 1480px;
bottom: 118px; */

}
.btn:hover{
background-color: #393646;
cursor: pointer;
}
ul{
text-align: center;
position: relative;
}
.navbar{
display: inline-block;
width: 700px;
margin: auto;
margin-left: 25%;
font-size: 22px;
font-family: 'Lato', sans-serif;
/* display: inline-block; */
text-align: center;

}


li{
display: inline-block;
text-indent: 45px;

}

h1{
font-size: 5rem;
margin-left: 130px;
font-family: monospace;

}
.about-p{
margin-left: 138px;
font-size: 20px;
line-height: 2;
font-family: monospace, cursive;
}
/* Email Form */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left:175px;
    
}
input[type=email] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px grey;
    width: 300px;
    margin-right: 10px;
    background-color: black;
    position: relative;
    right: 540px;
    bottom: 40px;
}
input[type=submit] {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 2px grey;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    right: 323px;
    bottom: 74px;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    cursor: pointer;
    color: #ACB1D6;
}
.logo:hover{
    cursor: pointer;
}
.top-line{
    position: relative;
    bottom: 10px;
}
@media (max-width:1537px){
    .btn{
        display: inline-block;
        position: relative;
        left: 90%;
        bottom: 62px;
    }
}


